<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://www.youtube.com/" target = "_blank" class="link">Youtube</a> |
            <a href="https://www.linkedin.com/" target = "_blank" class="link">Linkedin</a> |
            <a href="https://www.facebook.com/" target = "_blank" class="link">Facebook</a> |
            <a href="https://twitter.com/" target = "_blank" class="link">Twitter</a>
        </div>
        <p class="copyright">
            Copyright © 2020 walkermall.com All Right Reserved
        </p>
    </div>
</div>


<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>