/*
 * @Author: WalkerWang 
 * @Date: 2020-01-15 21:36:13 
 * @Last Modified by: WalkerWang
 * @Last Modified time: 2020-01-15 21:40:42
 */
.nav {
    background: #eee;
    height: 30px;
    line-height: 30px;
}
/* 用户部分 */
.nav .user {
    float: left;
}
.nav .user.login{
    display: none;
}
.nav .user .link {
    margin-right: 5px;
}
/* 导航链接部分 */
.nav .nav-list {
    float: right;
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
}
