<div class="nav">
    <div class="w">
        <div class="user-info">
            <span class="user not-login">
                <span class="link js-login">Log in</span>
                <sapn class="link js-register">Sign up</sapn>
            </span>
            <span class="user login">
                <span class="link-text js-login">
                    Welcome,
                    <span class="username"></span>
                </span>
                <sapn class="link js-logout">Log out</sapn>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
               <a href="./cart.html" class="link">
                    <i class="fa fa-shopping-cart"></i>
                    Cart(<span class="cart-count">0</span>)
               </a>
            </li>
            <li class="nav-item">
                <a href="./order-list.html" class="link">My orders</a>
            </li>
            <li class="nav-item">
                <a href="./user-center.html" class="link">My WMall</a>
            </li>
            <li class="nav-item">
                <a href="./about.html" class="link">About WMall</a>
            </li>
        </ul>
    </div>
</div>